In [7]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import datetime
import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader

In [8]:
training_data = pd.read_csv("organized_data_training.csv")

In [9]:
print(training_data)

        day_of_week  hour_of_day  normalized_energy  average_energy       t-3  \
0               6.0          3.0           0.234568        0.076454  0.114212
1               6.0          4.0           0.234568        0.072333  0.132798
2               6.0          5.0           0.234568        0.071824  0.148183
3               6.0          6.0           0.172840        0.077041  0.158114
4               6.0          7.0           0.160494        0.092937  0.162235
...             ...          ...                ...             ...       ...
196921          5.0         16.0           0.009524        0.122585 -0.110656
196922          5.0         17.0           0.006349        0.141208 -0.098425
196923          5.0         18.0           0.009524        0.138830 -0.097711
196924          5.0         19.0           0.006349        0.142863 -0.113061
196925          5.0         20.0           0.006349        0.149307 -0.134859

             t-2       t-1  true_value
0       0.132798  0.148183    0.158114
1       0.148183  0.158114    0.162235
2       0.158114  0.162235    0.162744
3       0.162235  0.162744    0.095798
4       0.162744  0.095798    0.067557
...          ...       ...         ...
196921 -0.098425 -0.097711   -0.113061
196922 -0.097711 -0.113061   -0.134859
196923 -0.113061 -0.134859   -0.129306
196924 -0.134859 -0.129306   -0.136513
196925 -0.129306 -0.136513   -0.142957

[196926 rows x 8 columns]

In [10]:
class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(3, 1)   # input layer with 3 inputs and output layer with 1 output

    def forward(self, x):
        x = self.fc1(x)   # pass the input through the linear layer
        x = torch.tanh(x)  # apply the tanh activation function to the output of the linear layer
        return x

In [11]:
net = Net()

In [12]:
training_data_array = training_data.values

In [13]:
train_x = training_data_array[:1000, 4:7]
train_y = training_data_array[:1000,-1:]

In [14]:
train_x

array([[ 0.1142123 ,  0.13279826,  0.14818289],
       [ 0.13279826,  0.14818289,  0.15811366],
       [ 0.14818289,  0.15811366,  0.16223509],
       ...,
       [-0.04102412, -0.05444847, -0.0918327 ],
       [-0.05444847, -0.0918327 , -0.07749466],
       [-0.0918327 , -0.07749466, -0.05805571]])

In [15]:
train_x = torch.tensor(train_x, dtype=torch.float32)
train_y = torch.tensor(train_y, dtype=torch.float32)

In [17]:
dataset = TensorDataset(train_x, train_y)

# create a PyTorch dataloader
dataloader = DataLoader(dataset, batch_size=32, shuffle=True)

In [ ]:
loss_fn = torch.nn.MSELoss()
optimizer = torch.optim.SGD(net.parameters(), lr=0.01)

In [8]:
test_data = pd.read_csv("HW4_Test_Data.csv")

In [9]:
test_data

          TestTime  TestBldg
0     9/7/14 00:00  0.094276
1     9/7/14 01:00  0.037037
2     9/7/14 02:00  0.040404
3     9/7/14 03:00  0.037037
4     9/7/14 04:00  0.037037
..             ...       ...
163  9/13/14 19:00  0.164983
164  9/13/14 20:00  0.235690
165  9/13/14 21:00  0.185185
166  9/13/14 22:00  0.168350
167  9/13/14 23:00  0.121212

[168 rows x 2 columns]

In [14]:
size = len(test_data)
random_data = np.random.rand(size, 3)
time_splited_data = pd.DataFrame(random_data, columns=[ 'day_of_week', 'hour_of_day',"normalized_energy"])
for i in range(len(test_data)):
    temp = test_data.loc[i]
    date_string = temp["TestTime"]
    date_obj = datetime.datetime.strptime(date_string, '%m/%d/%y %H:%M')
    day_of_week = date_obj.weekday()
    hour_of_day = date_obj.hour
    value = test_data.loc[i,"TestBldg"]
    time_splited_data.loc[i] = [day_of_week,hour_of_day, value ]

In [15]:
sorted_time_splited_data = time_splited_data.sort_values(by=['day_of_week', 'hour_of_day'], ascending=[True,True])

In [16]:
sorted_time_splited_data = sorted_time_splited_data.reset_index(drop=True)
sorted_time_splited_data

     day_of_week  hour_of_day  normalized_energy
0            0.0          0.0           0.188552
1            0.0          1.0           0.084175
2            0.0          2.0           0.057239
3            0.0          3.0           0.040404
4            0.0          4.0           0.040404
..           ...          ...                ...
163          6.0         19.0           0.094276
164          6.0         20.0           0.151515
165          6.0         21.0           0.175084
166          6.0         22.0           0.151515
167          6.0         23.0           0.387205

[168 rows x 3 columns]